{% extends "base.html" %}
{% load static %}
{% block head %}
        <script src="{% static 'home/base.js' %}" type="text/javascript"></script>
		<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock head %}
{% block body %}

	{% if invalid %} 
		<div style="text-align: center;" class="alert alert-danger" role="alert">
		  Username or Password is wrong! Try again.
		</div>
	{% endif %}
	<div class="ui segment" style="margin-bottom: 0em !important;">

	    <!-- Tarjeta de presentacion -->

	    <div class="ui container">
	        <div class="ui grid">
	            <div class="wide column">
	                
	               <div class="ui three stackable cards">

	               {% for quiz in quizzes %}
	                    <div class="card">
	                        <div class="ui left piled segment">
	                        	<a href="{% url 'showQuiz' quiz.id %}">
	                            	<img class="card-img-top" src="{{ quiz.photo.url }}" class="ui left floated image">
	                           	</a>
	                            <h3 class="ui header text-center" style="margin-top: 0px;" >{{ quiz.title}}</h3>
	                            <div class="floated right text-center description">
	                               {{ quiz.description }}              
	                            </div>
	                        </div>
	                    </div>
	                {% endfor %}
	                </div>
	            </div>
	        </div>

	        <div class="ui hidden divider"></div>

	        <div class="ui grid">
	            <div class="sixteen wide column">
	            </div>
	        </div>

	    </div>
	</div>
{% endblock body %}