{% extends "base.html" %}
{% block body %}

<div class="container">
    <!-- -->
    <!--Progress Bar-->
    <!--Content-->
    <!--Question-->
    <!--Answers-->
    <!--Explaination-->
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
        aria-valuemax="100" style="width: 60%;"> <span class="sr-only">60% Complete</span>
        </div>
    </div>
     <h1 class="question">You are a dog.</h1>
    <div class="btn-group-lg btn-group" data-toggle="buttons">
        <row>
            <div class="col-xl-6">
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1">True</label>
            </div>
            <!--<span>or</span>-->
            <div class="col-xl-6">
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2">False</label>
            </div>
        </row>
    </div>
</div>
{% endblock body %}