{% extends "base.html" %}
{% block body %}

<div class="container">
    <br><br><br>
    <div class="displayCards">

        <div class="card">
            <div class="card-body">
                <p class="card-text label-Text"><span class="display-1 label-Text">{{correctAnswers}}</span></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item label-Desc desc1">
                    <h3 class="card-title">Correct answers</h3>
                </li>
            </ul>
        </div>
      
        <div class="card">
            <div class="card-body">
                <p class="card-text label-Text"><span class="display-1 label-Text">{{allQuestions}}</span></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item label-Desc desc2">
                    <h3 class="card-title">All questions</h3>
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock body %}