{% extends "pages/base.html" %}

{% block content %}
<body>
	<form method="POST" action="/users/account/edit/{{user.id}}">
		{% csrf_token %}
		<h3 style="text-align: center;">Change Account Informations</h3>
	  <div class="form-group center_div">
	    <label for="first_name">First Name:</label> 
	    <input type="text" class="form-control" name="first_name" value="{{ user.first_name}}">
	  </div>
	  <div class="form-group center_div"> 
	    <label for="last_name">Last Name:</label>
	    <input type="text" class="form-control" name="last_name" value="{{ user.last_name}}">
	  </div>
	  <div class="form-group center_div"> 
	    <label for="email">Email:</label>
	    <input type="email" class="form-control" name="email" value="{{ user.email}}">
	  </div>
	  <div class="form-group center_div">
	    <label for="username">Username:</label>
	    <input type="text" class="form-control" name="username" value="{{ user.username}}">
	  </div>
	  <p></p>
	  <div class="col-md-11 text-center">
	  <button style="width:125px;" type="submit" class="btn btn btn-success">Change</button>
	   <a href="/users/account"><button style="width:125px;" type="button" class="btn btn btn-warning">Cancel</button></a>
	   </div>
	</form>
</body>

{% endblock content %}
