{% extends "registration/base.html" %}

{% load bootstrap %}

{% block content %}
  	<div style="position: center;">
		<h3>Forgot password</h3>
			{% csrf_token %}

			<p class="alert alert-info">We've emailed you instructions for setting your password. You should be receiving them shortly.</p>

			<p class="alert alert-warning">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

			<div style="width: 350px;position: center;" class="form-group center_div">
			</div>
		<a href="/users/login"><button type="submit" class="btn btn-lg btn-primary btn-block">Back</button></a>
	</div>
{% endblock content %}