{% extends "registration/base.html" %}
{% load bootstrap %}

{% block content %}
  	<div style="position: center;">
		<h3>Forgot password</h3>
		<form method="post">
			{% csrf_token %}
			<div style="width: 350px;position: center;" class="form-group center_div">
				{{ form|bootstrap }}
			</div>
		<button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
      <button onclick="location.href = '/users/login';" type="button" class="btn btn-lg btn-warning btn-block">Back</button>
	</form>
	</div>
{% endblock content %}
