{% extends "base.html" %}
{% block body %}
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-sm-2 offset-md-3">
            {% for error,message in form.errors.items %}
                <div style="text-align: center;" class="alert alert-danger" role="alert">
                    {{error}} {{message}}
                </div>
            {% endfor %}
            <form role="form" method="POST" action="{% url 'signup' %}"> {% csrf_token %}
                	<h2>Please Sign Up <small>It&apos;s free and always will be.</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control form-control-lg"
                            placeholder="First Name" tabindex="1">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control form-control-lg"
                            placeholder="Last Name" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="username" id="display_name" class="form-control form-control-lg"
                    placeholder="Username" tabindex="3">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control form-control-lg"
                    placeholder="Email Address" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="password" name="password1" id="password" class="form-control form-control-lg"
                            placeholder="Password" tabindex="5">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <input type="password" name="password2" id="password2"
                            class="form-control form-control-lg" placeholder="Confirm Password" tabindex="6">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-3 col-lg-3">	<span class="button-form-check">

						<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>

                        <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">

					</span>
                    </div>
                    <div class="col-8 col-md-9 col-lg-9">By clicking <strong class="badge badge-primary">Register</strong>, you
                        agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set
                        out by this site, including our Cookie Use.</div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-12 col-lg-6">
                       <input type="submit" value="Sign Up" class="btn btn-primary btn-block btn-lg"
                        tabindex="7">
                    </div>
                    <div class="col-12 col-lg-6"><a class="btn btn-success btn-block btn-lg">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#xD7;</button>
                    	<h4 class="modal-title" id="myModalLabel">Terms &amp; Conditions</h4>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque,
                        modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis
                        rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque,
                        modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis
                        rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque,
                        modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis
                        rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque,
                        modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis
                        rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque,
                        modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis
                        rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque,
                        modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis
                        rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque,
                        modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis
                        rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock body %}